body {
    padding-top: 55px;
}

.panel-body {
    padding: 0;
}

.panel-heading {
    padding: 2px;
}

.panel {
    margin-bottom: 6px;
}

#tooltip {
    position: "absolute",
    display: "none",
    top: y + 5,
    left: x + 5,
    border: "1px solid #fdd",
    padding: "2px",
    "background-color": "#eee",
    opacity: 0.80
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #1990d5;
    border-color: #1684c2;
}

.navbar-default .navbar-text {
    color: #fff;
}