table.tablesorter thead th {
    cursor: pointer;
    white-space: nowrap;
}

table.tablesorter thead th.desc:after {
    content: ' \2191';
}

table.tablesorter thead th.asc:after {
    content: ' \2193';
}
