table.tablesorter thead tr .header {
    cursor: pointer;
    white-space: nowrap;
}

table.tablesorter thead th.headerSortUp:after {
    content: ' \2191';
}

table.tablesorter thead th.headerSortDown:after {
    content: ' \2193';
}
