# AppVeyor.com is a Continuous Integration service to build and run tests under
# Windows

environment:
  global:
    CONDA_PATH: "C:\\Miniconda3-x64"
  matrix:
    - PYTHON_VERSION: "3.7"
      platform: x64

cache:
  - '%LOCALAPPDATA%\pip\Cache'

install:
  # Append webdriver paths
  - "SET PATH=%PATH%;C:\\Tools\\WebDriver;C:\\Program Files (x86)\\Mozilla Firefox"

  # Init and clone submodules
  - git submodule update --init --recursive

  # Clear tmpdir (sometimes left behind by appveyor?)
  - rmdir /s /q %APPVEYOR_BUILD_FOLDER%\\tmp & exit /b 0

  # Setup conda environment
  - "%CONDA_PATH%\\Scripts\\activate.bat"

  # Install the build and runtime dependencies of the project.
  - conda install -q --yes python=%PYTHON_VERSION% conda six pip pytest pytest-xdist pytest-timeout filelock selenium conda-build bzip2
  - python -mpip install pytest-rerunfailures pytest-faulthandler

  # Check that we have the expected version of Python
  - python --version

build_script:
  # In-place build
  - python setup.py build_ext -i

test_script:
  - python -m pytest -l --basetemp=%APPVEYOR_BUILD_FOLDER%\\tmp -n 2 -v -v --environment-type=conda --webdriver=ChromeHeadless --timeout=1800 --durations=100 test

after_build:
  # Clear up pip cache
  - C:\cygwin\bin\find "%LOCALAPPDATA%\pip" -type f -mtime +360 -delete
  - C:\cygwin\bin\find "%LOCALAPPDATA%\pip" -type f -size +10M -delete
  - C:\cygwin\bin\find "%LOCALAPPDATA%\pip" -empty -delete
  # Show size of cache
  - C:\cygwin\bin\du -hs "%LOCALAPPDATA%\pip\Cache"
