prune .github
prune build
prune changelog.d
prune scripts

exclude .codecov.yml
exclude .coveragerc
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml
exclude towncrier.toml
