include README.rst
include CHANGES.rst
include LICENSE.rst

include ez_setup.py
include astropy/tests/coveragerc
recursive-include asv *.html *.js *.css *.ico *.png

include docs/make.bat
include docs/Makefile
recursive-include docs *.rst *.txt *.py *.ico *.html *.png

recursive-include test *.json *.py

prune docs/build
prune build

global-exclude *.pyc *.o
