pytest>=4.4.0
virtualenv>=1.7
filelock
six
pip
setuptools
wheel
# Optional requirements follow:
numpy
scipy
selenium
pytest-xdist
pytest-rerunfailures
pytest-faulthandler
pytest-timeout
feedparser
python-hglib
