name: Linux and MacOS CI

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.9", "3.13", "pypy-3.11"]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # We need Python 3.9 to always be installed, so tests with
      # multiple environments can run.
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install mercurial and conda
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install --cask anaconda
          pip install mercurial

      - name: Set up Python version ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Setup a browser for more tests
        uses: browser-actions/setup-chrome@latest

      - name: Install dependencies (with --pre)
        run: python -m pip install ".[test,hg,envs]" --pre

      - name: Install asv
        run: pip install .

      - name: Run tests
        run: python -m pytest -v --timeout=300 --webdriver=ChromeHeadless --durations=100 test

  test_env:
    name: test_environments
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
      fail-fast: false
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: mamba-org/setup-micromamba@v2.0.4
        with:
          init-shell: >-
            bash
          environment-name: test-env
          cache-environment: true
          create-args: >-
            python
            pip
            py_rattler
            conda-build

      - name: Install dependencies
        run: python -m pip install ".[test,hg,envs]" --pre
        shell: micromamba-shell {0}

      - name: Install asv
        run: pip install .
        shell: micromamba-shell {0}

      - name: Run tests
        run: pytest -k environment_bench -vvvvv
        shell: micromamba-shell {0}

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install asv
        run: pip install ".[doc]"

      - name: Build docs
        run: sphinx-build -W docs/source html
