name: CI

on: [push, pull_request]

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.7", "3.10", "pypy-3.7", "pypy-3.8"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # We need Python 3.7 to always be installed, so tests with
      # multiple environments can run.
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install -r requirements-dev.txt

      - name: Install asv
        run: pip install .

      - name: Run tests
        run: python -m pytest -v --timeout=1800 --durations=20 test

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: python -m pip install -r requirements-dev.txt

      - name: Install asv
        run: pip install ".[doc]"

      - name: Build docs
        run: sphinx-build -W docs/source html
