name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: pip install flake8
      
      - name: flake8 all repo only show erros
        run: flake8 . || true # preventing CI failing while flake8 issues exist

      - name: flake8 validating correct file(s)
        run: flake8 asv/__init__.py asv/config.py asv/benchmarks.py