name: Windows CI

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest"]
        python-version: ["3.7"]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python version ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install and test
        shell: pwsh
        run: |
          python.exe -m pip install .[test]
          python.exe -m pip install packaging virtualenv
          python.exe -m pytest -v -l -x --timeout=300 --durations=100 test --environment-type=virtualenv


  test_env:
    name: test_environments
    runs-on: "windows-latest"
    strategy:
      fail-fast: false
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: mamba-org/setup-micromamba@v2.0.1
        with:
          init-shell: >-
            powershell
          environment-name: test-env
          cache-environment: true
          create-args: >-
            python
            pip
            libmambapy<2.0
            conda-build

      - name: Install dependencies
        run: python -m pip install ".[test,hg]" --pre
        shell: micromamba-shell {0}

      - name: Install asv
        run: pip install .
        shell: micromamba-shell {0}

      - name: Run tests
        run: pytest -k environment_bench -vvvvv
        shell: micromamba-shell {0}
