name: Windows CI

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest"]
        python-version: ["3.7", "3.10"]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup a browser for more tests
        uses: browser-actions/setup-chrome@latest

      - name: Set up Python version ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install and test
        shell: bash -l {0}
        run: |
          python -m pip install .[test]
          python -m pip install packaging virtualenv
          python -m pytest -v -l -x --timeout=300 \
          --durations=100 test \
          --webdriver=ChromeHeadless \
          --environment-type=virtualenv
